* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #242428;
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}

main {
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: auto;
  flex: 1;
  padding: 1rem 0;
}

main .drawing-canvas-container {
  position: relative;
  border: 1px solid rgb(25, 25, 28);
  background-color: rgb(45, 45, 50);
  background-image: url("data:image/svg+xml,%3Csvg opacity='0.2' fill='black' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpolygon fill-rule='evenodd' points='0,0 16,0 16,32 32,32 32,16 0,16' /%3E%3C/svg%3E");
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: crosshair;
}

aside {
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 1rem;
  justify-items: center;
  gap: 1rem;
}

aside canvas {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 256px;
  width: 256px;
}

.open-picker-button {
  background: none;
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #111;
  text-indent: -9999px; /* Hides the text */
}

.close-picker-button {
  display: none;
}

.toolbar {
  display: grid;
  gap: 2rem;
  padding: 1rem;
  background-color: #111;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.toolbar .slider {
  display: grid;
  gap: 0.5rem;
  font-size: smaller;
  text-align: center;
}

.toolbar .color-picker {
  display: grid;
  gap: 1rem;
  justify-items: center;
  grid-template-areas:
    "canvas hue-slider"
    "button button";
}

.toolbar .color-picker .hue-slider {
  appearance: slider-vertical;
  box-sizing: border-box;
  grid-area: hue-slider;

  -webkit-appearance: none;
  appearance: none;
  margin: 0;

  cursor: pointer;
}

.hue-slider:focus {
  outline: none;
}

.hue-slider {
  width: 1rem;
  height: 256px;
  background: red;
  background: linear-gradient(
    to bottom,
    hsl(0, 100%, 50%) 0%,
    hsl(36, 100%, 50%) 10%,
    hsl(72, 100%, 50%) 20%,
    hsl(108, 100%, 50%) 30%,
    hsl(154, 100%, 50%) 40%,
    hsl(180, 100%, 50%) 50%,
    hsl(216, 100%, 50%) 60%,
    hsl(252, 100%, 50%) 70%,
    hsl(300, 100%, 50%) 80%,
    hsl(324, 100%, 50%) 90%,
    hsl(360, 100%, 50%) 100%
  );
  border-radius: 0.5rem;
}

.hue-slider::-webkit-slider-thumb,
.hue-slider::-moz-range-thumb {
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  box-shadow:
    inset 0 0 2px rgba(0, 0, 0, 0.5),
    0 0 2px rgba(0, 0, 0, 0.5);
}

.toolbar .input-tray {
  display: flex;
  gap: 1rem;
  font-size: smaller;
  text-align: center;
}

.toolbar .input-tray .tool-select {
  flex: 1;
}

.toolbar .recent-color-tray {
  display: flex;
  gap: 0.5rem;
  font-size: smaller;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 292px;
}

.toolbar .recent-color-tray .recent-color {
  height: 21px;
  width: 21px;
  border: 1px solid #222;
}

.toolbar .recent-color-tray .recent-color.selected {
  border: 1px solid #fff;
}

@media (max-width: 800px) {
  body {
    flex-direction: column-reverse;
    overflow: hidden;
  }

  aside {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding: 0;
  }

  .toolbar {
    flex: 1;
  }

  .toolbar .color-picker {
    display: grid;
  }

  body:not(.picker-open) .toolbar .color-picker canvas,
  body:not(.picker-open) .toolbar .recent-color-tray,
  body:not(.picker-open) .toolbar .color-picker .hue-slider {
    display: none;
  }

  .toolbar .recent-color-tray .recent-color {
    max-width: none;
    height: 32px;
    width: 32px;
  }

  body.picker-open .toolbar > * {
    display: none;
  }

  body.picker-open aside {
    display: flex;
    flex: 1;
  }

  body.picker-open aside .toolbar {
    display: flex;
    align-self: stretch;
    flex: 1;
  }

  body.picker-open .toolbar .color-picker {
    display: grid;
    flex: 1;
  }

  body.picker-open main {
    display: none;
  }

  body.picker-open .close-picker-button {
    display: inline-block;
  }

  .toolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    background-color: #111;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
  }

  .toolbar .slider {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: smaller;
    text-align: center;
  }

  .toolbar .slider input {
    display: none;
  }
}
