* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #242428;
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}

main {
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: auto;
  flex: 1;
  padding: 1rem 0;
}

main canvas {
  border: 1px solid rgb(25, 25, 28);
  background-color: rgb(45, 45, 50);
  background-image: url("data:image/svg+xml,%3Csvg opacity='0.2' fill='black' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpolygon fill-rule='evenodd' points='0,0 16,0 16,32 32,32 32,16 0,16' /%3E%3C/svg%3E");
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: crosshair;
}

aside {
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 1rem;
}

aside canvas {
  background: white;
  box-sizing: content-box;
  border: 1px solid rgb(25, 25, 28);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 256px;
  width: 256px;
}

.open-picker-button {
  display: none;
}

@media (max-width: 800px) {
  body {
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .open-picker-button {
    display: inherit;
  }
  body.picker-open .open-picker-button {
    display: none;
  }
  aside {
    padding-bottom: 0;
  }
  aside canvas {
    display: none;
  }
  body.picker-open aside {
    flex: 1;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }
  body.picker-open aside canvas {
    display: block;
    align-self: stretch;
    justify-self: stretch;
  }
  body.picker-open main {
    display: none;
  }
}
